/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ultra&display=swap');

/* Default overwrite */

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

body {
    font-family: 'PT serif', sans-serif;
    font-size: 16px;
    color: #121212;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

img {
    width: 100px;
}

hr {
    border: 1px solid #FFFFFF;
}

/* containers */

.main-container {
    min-height: 50vh;
    width: 50vw;
    padding: 0.5rem;
    margin: 10vh auto 0;
}

.section-container {
    width: 70vw;
    margin: 0 auto;
}

.section-container-gray {
    width: 70vw;
    margin: 0 auto;
}

.section-gray {
    background-color: aqua;
}

/* div {
    border: 1px solid blue;
} */

/* text styles */

h1, h2, h3 {
    font-family: 'Ultra', sans-serif;
    font-weight: 300;
    color: #F40009;
}

h1 {
    font-size: 3em;
}

/* general */

.button {
    text-decoration: none;
    list-style: none;
    color: #FFFDFA;
    background-color: #F40009;
    min-width: 10em;
    min-height: 2.5em;
    text-align: center;
    padding: 1em;
    border-radius: 1%;
    border: none;
    text-transform: capitalize;
}

/* nav */

nav {
    background-color: #1E1E1E;
}

.nav-container {
    width: 70vw;
    margin: 0 auto;
}

.nav-menu > a {
    text-decoration: none;
    color: #FFFDFA;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: auto 1rem;
    text-align: right;

}

.nav-content-right .nav-menu div {
    text-align: right;
}

.nav-logo {
    height: 4em;
    width: auto;
}

/* hamburger */

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}

/* hero section */

.main-container {
    min-width: 70vw;
    min-height: 70vh;
    margin: 0 auto;
}

.hero-content {
    text-align: center;
    margin: 10em;
}

/* section */

.round-big img {
    border-radius: 50%;
    max-height: 20em;
    width: auto;
}

.content-right div {
    text-align: right;
}

.content-left {
    text-align: left;
}

.content-left div {
    text-align: left;
}

.content-center {
    text-align: center;
}

.content-center div {
    text-align: center;
}

.line {
    background-color: #F40009;
    min-height: 0.1em;
    min-width: 5em;
}

/* form */

.form-right {
    background-color: #F40009;
    color: #FFFFFF;
    padding: 50px;
    max-width: 35vw;
}

.form-right h2 {
    color: #FFFFFF;
}

.form-input {
    margin: 0.5em 0;
}

.form-input input {
    min-width: 25em;
}

.form-input textarea {
    min-width: 25em;
}

.form-input * {
    display: block;
    padding: 0.1em 0;
}

.round-big iframe {
    border-radius: 20%;
    max-height: 20em;
    width: auto;
}

.form-section-links a {
    text-decoration: none;
    color: #121212;
}
/* portfolio */

.round-small img {
    border-radius: 50%;
    max-height: 15em;
    width: auto;
    margin: 0 1em;
}

/* faq */


.faq {
    background-color: #1E1E1E;
    border-radius: 20%;
    max-width: 35vw;
    min-height: 35vh;
    padding: 2em;

}

.faq details {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin-bottom: 1em;
}

/* footer */

.footer-container {
    width: 70vw;
    margin: 0 auto;
}

footer {
    background-color: #F40009;
}

footer i {
    color: #FFFFFF;
}

footer p {
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

/* media queries */

/* For mobile phones: */

[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 480px) {
    /* For tablets: */
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}

    /* hamburger */
    nav .nav-list {
        display: grid;
        position: absolute;
        background: #404040;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }

    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }

  }
  @media only screen and (min-width: 770px) {
    /* For small desktop screens: */
    .col-sd-1 {width: 8.33%;}
    .col-sd-2 {width: 16.66%;}
    .col-sd-3 {width: 25%;}
    .col-sd-4 {width: 33.33%;}
    .col-sd-5 {width: 41.66%;}
    .col-sd-6 {width: 50%;}
    .col-sd-7 {width: 58.33%;}
    .col-sd-8 {width: 66.66%;}
    .col-sd-9 {width: 75%;}
    .col-sd-10 {width: 83.33%;}
    .col-sd-11 {width: 91.66%;}
    .col-sd-12 {width: 100%;}
  }

  @media only screen and (min-width: 1025px) {
    /* For large desktop screens: */
    .col-ld-1 {width: 8.33%;}
    .col-ld-2 {width: 16.66%;}
    .col-ld-3 {width: 25%;}
    .col-ld-4 {width: 33.33%;}
    .col-ld-5 {width: 41.66%;}
    .col-ld-6 {width: 50%;}
    .col-ld-7 {width: 58.33%;}
    .col-ld-8 {width: 66.66%;}
    .col-ld-9 {width: 75%;}
    .col-ld-10 {width: 83.33%;}
    .col-ld-11 {width: 91.66%;}
    .col-ld-12 {width: 100%;}
  }

  @media only screen and (min-width: 1200px) {
    /* For extra large desktop screens: */
    .col-xld-1 {width: 8.33%;}
    .col-xld-2 {width: 16.66%;}
    .col-xld-3 {width: 25%;}
    .col-xld-4 {width: 33.33%;}
    .col-xld-5 {width: 41.66%;}
    .col-xld-6 {width: 50%;}
    .col-xld-7 {width: 58.33%;}
    .col-xld-8 {width: 66.66%;}
    .col-xld-9 {width: 75%;}
    .col-xld-10 {width: 83.33%;}
    .col-xld-11 {width: 91.66%;}
    .col-xld-12 {width: 100%;}
  }