/* Import fonts */
    @import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ultra&display=swap');

/* Default overwrite */

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

body {
    font-family: 'PT serif', sans-serif;
    font-size: 16px;
    color: #121212;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

img {
    width: 100px;
}

hr {
    border: 1px solid #FFFFFF;
}

/* containers */

.main-container {
    min-height: 50vh;
    width: 50vw;
    padding: 0.5rem;
    margin: 10vh auto 0;
}

.section-container {
    width: 70vw;
    margin: 0 auto;
}

.section-container-gray {
    width: 70vw;
    margin: 0 auto;
}

.section-gray {
    background-color: aqua;
}

/* div {
    border: 1px solid blue;
} */

/* text styles */

h1, h2, h3 {
    font-family: 'Ultra', sans-serif;
    font-weight: 300;
    color: #F40009;
}

h1 {
    font-size: 3em;
}

/* general */

.button {
    text-decoration: none;
    list-style: none;
    color: #FFFDFA;
    background-color: #F40009;
    min-width: 10em;
    min-height: 2.5em;
    text-align: center;
    padding: 1em;
    border-radius: 1%;
    border: none;
    text-transform: capitalize;
}

/* nav */

nav {
    background-color: #1E1E1E;
}

.nav-container {
    width: 70vw;
    margin: 0 auto;
}

.nav-menu a {
    text-decoration: none;
    color: #FFFDFA;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: auto 1rem;
    text-align: right;

}

.nav-content-right .nav-menu {
    text-align: right;
}

.nav-logo {
    height: 4em;
    width: auto;
}

/* hero section */

.main-container {
    min-width: 70vw;
    min-height: 70vh;
    margin: 0 auto;
}

.hero-content {
    text-align: center;
    margin: 10em;
}

/* section */

.round-big img {
    border-radius: 50%;
    max-height: 20em;
    width: auto;
}

.content-right div {
    text-align: right;
}

.content-left div {
    text-align: left;
}

.content-center {
    text-align: center;
}

.content-center div {
    text-align: center;
}

.line {
    background-color: #F40009;
    min-height: 0.1em;
    min-width: 5em;
}

/* form */

.form-right {
    background-color: #F40009;
    color: #FFFFFF;
    padding: 50px;
    max-width: 35vw;
}

.form-right h2 {
    color: #FFFFFF;
}

.form-input {
    margin: 0.5em 0;
}

.form-input input {
    min-width: 25em;
}

.form-input textarea {
    min-width: 25em;
}

.form-input * {
    display: block;
    padding: 0.1em 0;
}

.round-big iframe {
    border-radius: 20%;
    max-height: 20em;
    width: auto;
}

.form-section-links a {
    text-decoration: none;
    color: #121212;
}
/* portfolio */

.round-small img {
    border-radius: 50%;
    max-height: 15em;
    width: auto;
    margin: 0 1em;
}





/* media queries */

/* For mobile phones: */

[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }